---
title: Nextcloud | Toolkit
fabricator: true
---

<h2>Overview</h2>

<p>This styleguide is a resource for designers and developers, providing a commom language and an effort to create a main graphical language to be applied in all graphical material of Nextcloud.</p>

<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

<h3>Usage</h3>

<p>Start by adding the following files to your page:</p>

<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;assets/toolkit/styles/toolkit.css&quot;&gt;</code></pre>

<pre class="language-markup"><code class="language-markup">&lt;script src=&quot;assets/toolkit/scripts/toolkit.js&quot;&gt;&lt;/script&gt;</code></pre>
